
div.menu {
    position:absolute;
    width:100%;
    height:auto;
    left:0;
    top:0;
    background-color:hsla(200, 100%, 100%, 0.9);
    margin:0 auto;
    box-shadow:0 1px 10px gray;
}
a.brand {
    font-size:40px;
}
nav li:first-child {
    width: 400px;
    height:50px;
    list-style-type:none;
    float:left;
    line-height:50px;
}


nav li:not(:first-child) {
    width:100px;
    height:50px;
    list-style-type:none;
    float:left;
    line-height:50px;
    border-left:1px solid black;
}
nav ul {
    display:inline;
}
nav li a {
    text-decoration: none;
    color:hsl(225, 50%, 0%);
    font-weight:bold;
    font-family:courier,'Della respira', serif;
    margin-left:20px;
 }

.price, .desc, .name {
    text-align:center;


}

div.content {
    margin-top:50px;
}

div.info {
    border:1px solid gray;
    padding:20px 20px 0;
}

h1 {
    font-size:2em;
    width:50px;
    height:100px;
    font-family:arial;
}