@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);

body {
    font-family:Roboto, sans-serif;
}
* {
    margin: 0;
}
html, body {
    height:100%
}
body {
    background-color: rgb(240, 240, 240);
    color: rgb(16, 16, 16);
}
a {
    text-decoration:none;
    color: inherit;
}
.page-wrap { /*http://css-tricks.com/snippets/css/sticky-footer/*/
    min-height:100%;
    margin-bottom: -80px;
}
.page-wrap:after {
    content: "";
    display: block;
    height:80px;
}
/* Menu Styles */
div.menu {
    position:absolute;
    width:100%;
    height:auto;
    left:0;
    top:0;
    margin:0 auto;
    background-color: #A5BED9;
    border-bottom:1px solid #000000;
}
a.brand {
    font-size:40px;
}
nav li:first-child {
    width: 400px;
    height:50px;
    list-style-type:none;
    float:left;
    line-height:50px;
}
nav li:not(:first-child) {
    width:100px;
    height:50px;
    list-style-type:none;
    float:left;
    line-height:50px;
    border-left:1px solid black;
}
nav ul {
    display:inline;
}
nav li a {
    text-decoration: none;
    font-weight: bold;
    font-family: courier, 'Della respira', serif;
    margin-left: 20px;
    color: rgb(56, 56, 56);
}
nav li a:hover {
    color:black;
}
div.mobile-menu {
    display:none;
    width:100%;
    background-color:whitesmoke;
    border-bottom:10px solid rgb(165, 190, 217);
    font-family: courier, 'Della respira', serif;
}
.mobile-menu h1{
    width:100%;
    margin:0 auto;
    text-align:center;
}
/* Footer Styles */
.site-footer {
    background-color: rgb(87, 95, 104);
    border-bottom: 20px solid rgb(56, 56, 56);
    border-top:10px solid rgb(165, 190, 217);
    color: whitesmoke;
}
.site-footer div {
    height:80px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.site-footer p {
    height:20px;
    margin:auto 0;
}
div.mobile-footer {
    background-color: rgb(56, 56, 56);
    height: 80px;
    margin-top:80px;
}
div.mobile-footer li {
    list-style-type:none;
    font-size:1.1em;
    height:30px;
    width:30px;
    margin-top:10px;
}
div.mobile-footer a {
    width:100%;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #383838;
}
div.mobile-footer a:hover {
    color: lightgray;
}

/* home page styles */
.banner img {
    width:100%;
    margin-top:50px;
    border-bottom:10px solid #575F68;
}
#welcome span {
    font-size:150%;
    font-weight:bold;
}
#welcome {
    margin: 3% auto 3% 12.5%;
    width:75%;
    font-size: 150%;
}
h1#forSale {
    font-size:50px;
    font-weight:bold;
    width:50%;
    margin:3% auto -2% auto;
    text-align:center;
    letter-spacing:5px;
}
hr {
    width:75%;
    margin-left:12.5%;
    transform:scale(1.0, 2.0);
    -webkit-transform:scale(1.0, 2.0);
    -moz-transform:scale(1.0, 2.0);
}
.panel ul {
    display: inline;
}
.panel li {
    background-color: #ffffff;
    padding: 20px 50px;
    line-height: 200px;
    border: 10px solid transparent;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    display: inline;
}

div.saleBlock {
    display:flex;
    flex-direction:row;
    width:100%;
}

div.info {
    width:33%;
    padding-left:6.5%;
}
div.info div{
    text-align:right;
}
div.Hoshizaki * {
    text-align:left;
}
div.viewMore > ul > li{
    margin-bottom:10px;
}
div.viewMore > ul > li ul {
    margin-top:10px;
}
div.viewMore {
    display:none;
}

div.name {
    margin-bottom:8%;
}
div.info div:not(first-child) {
    margin-bottom:4%;
}
div.call {
    font-weight: bold;
}
div.slider {
    width:51.2%;
    padding-left:5%;
}
/* About Page Styles */

#about {
    margin-bottom: -20%;
    font-size: 120%;
    display: inline-block;
    width: 40%;
    text-align: left;

}
.aboutContainer {
    margin: 10% 10% 0 10%;
    padding-bottom: 30%;
}
.aboutContainer img {
    border: 1px solid transparent;
    border-radius: 30px;
    vertical-align: top;
    display: inline-block;
    margin-left: 2.5%;
    width: 50%;

}
#about span {
    font-weight:bold;
}
div.mobile-footer {
    display:none;
}

/* Contact Page Styles */
form {
    padding: 2%;
    background-color: #ffffff;
    width: 50%;
    border: 10px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    color: #383838;
}
div.form {
    padding: 10% 0 10% 30%;
}

input {
    padding: 2%;
    border: 10px solid transparent;
    border-radius: inherit;
    background-color: #D3D3D3;
}
input[type=text] {
    margin:2% 0 5% 0;
}
#submit {
    background-color: #b0d8a6;
}

/* media queries for smaller screens */

@media screen and (max-width: 775px) {
    .site-footer div {
        flex-direction: column;
        padding:10px 0;
    }
    .site-footer p {
        text-align:center;
        margin:0;
    }
}

@media screen and (max-width: 560px) {
    .banner, div.menu {
        display: none;
    }
    #welcome {
        width: 90%;
        margin: 10px;
    }
    #welcome, #welcome span {
        font-size: 115%;
    }
    #welcome span {
        font-weight: bold;
    }
    #forSale {
        font-size: 1em;
    }
    div.panel {
        width: 300px;
        height: 150px;
        padding: 0;
        margin: 0 0 0 50px;
    }
    div.panel li, div.panel ul {
        display: inline;
        margin: 0;
        padding: 0;
    }
    div.saleBlock {
        flex-direction: column;
    }
    div.slider, div.info {
        width: 90%;
    }
    div.info div {
        text-align: left;
    }
    div.aboutContainer {
        flex-direction: column;
    }
    #about {
        width:90%;
        font-size:125%;
        margin-top: 2.5%;
    }
    .aboutContainer img {
        width: 100%;
        margin: 2% 2% 2% 0%;
    }
    form {
        width: 90%;
        padding: auto 0;
    }
    div.form {
        padding: 0;
    }
    div.aboutContainer img {
        max-width: 100%;
    }
    .site-footer, .page-wrap:after {
        display:none;
    }
    div.mobile-menu {
        display: block;
    }
    div.mobile-footer {
        display: flex;
    }
}

