@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);


body {
    font-family:Roboto, sans-serif;
}
* {
    margin: 0;
}
html, body {
    height:100%
}
body {
    background-color: rgb(240, 240, 240);
    color: rgb(16, 16, 16);
}
.page-wrap { /*http://css-tricks.com/snippets/css/sticky-footer/*/
    min-height:100%;
    margin-bottom: -80px;
}
.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height:80px;
    background-color:rgb(87, 95, 104);
    border-bottom: 20px solid rgb(56, 56, 56);

    color:whitesmoke;
    display:flex;
    flex-direction:row;
    justify-content: space-around;

}
.page-wrap:after {
    border-top:10px solid rgb(165, 190, 217);
}
.site-footer p {
    height:20px;
    margin:auto 0;
}
div.menu {
    position:absolute;
    width:100%;
    height:auto;
    left:0;
    top:0;
    margin:0 auto;
    background-color:whitesmoke;
    border-bottom:10px solid rgb(165, 190, 217);
}
a.brand {
    font-size:40px;
}
nav li:first-child {
    width: 400px;
    height:50px;
    list-style-type:none;
    float:left;
    line-height:50px;
}
nav li:not(:first-child) {
    width:100px;
    height:50px;
    list-style-type:none;
    float:left;
    line-height:50px;
    border-left:1px solid black;
}
nav ul {
    display:inline;
}
nav li a {
    text-decoration: none;
    font-weight: bold;
    font-family: courier, 'Della respira', serif;
    margin-left: 20px;
    color: rgb(56, 56, 56);
}

nav li a:hover {
    color:black;
}
.banner img {
    width:100%;
    margin-top:2.5%;
    border-bottom:10px solid #575F68;
}
#welcome span {
    font-size:200%;
    font-weight:bold;
}
#welcome {
    margin:3.4% auto 3.4% 12.5%;
    width:75%;
    font-size: 150%;
}
h1#forSale {
    font-size:350%;
    font-weight:bold;
    width:50%;
    margin:6% auto;
    text-align:center;
    letter-spacing:5px;
}
hr {
    width:75%;
    margin-left:12.5%;
    transform:scale(1.0, 2.0);
    -webkit-transform:scale(1.0, 2.0);
    -moz-transform:scale(1.0, 2.0);
}
div.saleBlock {
    display:flex;
    flex-direction:row;
    height:62%;
    width:100%;
}

div.info {
    height:62%;
    width:33%;
    padding-left:6.5%;
}

div.slider {
    height:62%;
    width:51.2%;
    padding-left:5%;
}
div.aboutContainer {
    padding:10px;
    padding-bottom:7.8%;
    display:flex;
    flex-direction:row;


}
#about {
    margin-top:10%;
    width:33%;
    padding:0 6.5%;
    font-size:150%;

}
#about span {
    font-weight:bold;
}

div.aboutContainer img {
    width:48%;
    height:56.25%;
    margin-top:10%;
}

@media screen and (max-width: 500px) {
    body {
        background-color:blue;
    }
    div.saleBlock {
        flex-direction:column;
        background-color:blue;
    }
    div.info, div.slider {
        width:100%;
    }
}